<nz-page-header [nzTitle]="title">
  <nz-breadcrumb nz-page-header-breadcrumb [nzAutoGenerate]="true">
  </nz-breadcrumb>
</nz-page-header>
<button nz-button nzType="primary" class="add-button" routerLink="addClass">新增</button>
<nz-table #ajaxTable
          nzShowSizeChanger
          [nzFrontPagination]="false"
          [nzData]="classes"
          [nzLoading]="loading"
          [nzTotal]="total"
          [(nzPageIndex)]="pageIndex"
          [(nzPageSize)]="pageSize"
          (nzPageIndexChange)="searchData()"
          (nzPageSizeChange)="searchData(true)" class="my-table">
  <thead>
  <tr>
    <th nzWidth="5%">#</th>
    <th nzWidth="12%">班级</th>
    <th nzWidth="10%">年级</th>
    <th nzCustomFilter nzWidth="30%">班主任<i
      class="ant-table-filter-icon"
      nz-icon
      nz-dropdown
      #dropdown="nzDropdown"
      nzType="search"
      [nzDropdownMenu]="menu"
      [class.ant-table-filter-open]="dropdown.nzVisible"
      nzTrigger="click"
      nzPlacement="bottomRight"
      [nzClickHide]="false"
      nzTableFilter
    ></i></th>
    <th nzWidth="20%">操作</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let data of ajaxTable.data;let i = index">
    <td>{{i+1}}</td>
    <td>
      <ng-container *ngIf="!editCache[data.id].edit; else nameInputTpl">
        {{ data.className }}
      </ng-container>
      <ng-template #nameInputTpl>
        <input type="text" nz-input [(ngModel)]="editCache[data.id].data.className" />
      </ng-template>
    </td>
    <td>
      <ng-container *ngIf="!editCache[data.id].edit; else gradeRadioTpl">
        <div [ngSwitch]="data.grade">
          <div    *ngSwitchCase="1">一年级</div>
          <div    *ngSwitchCase="2">二年级</div>
        </div>
      </ng-container>
      <ng-template #gradeRadioTpl>
        <nz-radio-group [(ngModel)]="editCache[data.id].data.grade">
          <label nz-radio [nzValue]="1">一年级</label>
          <label nz-radio [nzValue]="2">二年级</label>
        </nz-radio-group>
      </ng-template>
    </td>
    <td>
      <ng-container *ngIf="!editCache[data.id].edit; else teacherSelectTpl">
        {{data.mainTeacher.name}}
      </ng-container>
      <ng-template #teacherSelectTpl>
        <nz-select
          style="width: 100%"
          nzPlaceHolder="请选择"
          [compareWith]="compareFn"
          [nzDropdownStyle]="{height: 50}"
          (nzScrollToBottom)="loadMore()"
          [(ngModel)]="editCache[data.id].data.mainTeacher"
        >
          <nz-option *ngFor="let teacher of teachers" [nzLabel]="teacher.name" [nzValue]="teacher"></nz-option>
          <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
            <i nz-icon nzType="loading" class="loading-icon"></i> 加载中...
          </nz-option>
        </nz-select>
      </ng-template>
    </td>
    <td>
      <div class="editable-row-operations">
        <ng-container *ngIf="!editCache[data.id].edit; else saveTpl">
          <a routerLink="courseTeacher/{{data.id}}/{{data.grade}}">查看课程</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="startEdit(data.id)">编辑</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a nz-popconfirm nzTitle="确定要删除吗?" (nzOnConfirm)="delete(data.id)">删除</a>
        </ng-container>
        <ng-template #saveTpl>
          <a nz-popconfirm nzTitle="确定要保存吗?" (nzOnConfirm)="saveEdit(data.id)">保存</a>
          <nz-divider nzType="vertical"></nz-divider>
          <a (click)="cancelEdit(data.id)">取消</a>
        </ng-template>
      </div>
    </td>
  </tr>
  </tbody>
</nz-table>
<nz-dropdown-menu #menu="nzDropdownMenu">
  <div class="search-box">
    <input type="text" nz-input placeholder="搜索名称" [(ngModel)]="searchValue" />
    <button nz-button nzSize="small" nzType="primary" (click)="searchData()" class="search-button">
      搜索
    </button>
    <button nz-button nzSize="small" (click)="reset()">重置</button>
  </div>
</nz-dropdown-menu>

