<nz-page-header nzBackIcon [nzTitle]="title">
  <nz-breadcrumb nz-page-header-breadcrumb [nzAutoGenerate]="true">
  </nz-breadcrumb>
</nz-page-header>
<form nz-form [formGroup]="studentForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzRequired nzFor="sno">学号</nz-form-label>
    <nz-form-control [nzSpan]="8" nzErrorTip="请输入学号">
      <input type="text" nz-input formControlName="sno" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzRequired nzFor="name">姓名</nz-form-label>
    <nz-form-control [nzSpan]="8" nzErrorTip="请输入学生姓名">
      <input type="text" nz-input formControlName="name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzRequired nzFor="gender">性别</nz-form-label>
    <nz-form-control [nzSpan]="8" nzErrorTip="请选择性别">
      <nz-radio-group formControlName="gender">
        <label nz-radio nzValue="1">男</label>
        <label nz-radio nzValue="0">女</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzRequired nzFor="age">年龄</nz-form-label>
    <nz-form-control [nzSpan]="8" nzErrorTip="请输入年龄">
      <nz-input-number formControlName="age" [nzMin]="6" [nzMax]="70" [nzStep]="1"></nz-input-number>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label [nzSpan]="3" nzRequired nzFor="classId">班级</nz-form-label>
    <nz-form-control [nzSpan]="8" nzErrorTip="请选择班级">
      <nz-select
        style="width: 100%"
        nzPlaceHolder="请选择"
        [nzDropdownStyle]="{height: 50}"
        (nzScrollToBottom)="loadMore()"
        formControlName="classId"
      >
        <nz-option *ngFor="let class of classes" [nzLabel]="formatClass(class)" [nzValue]="class.id"></nz-option>
        <nz-option *ngIf="isLoading" nzDisabled nzCustomContent>
          <i nz-icon nzType="loading" class="loading-icon"></i> 加载中...
        </nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzSpan]="8" [nzOffset]="4">
      <button nz-button nzType="primary">提交</button>
    </nz-form-control>
  </nz-form-item>
</form>

